.addIt {
  position:fixed;
  bottom:2%;
  right:1%;
  background: transparent;
  background-color: rgb(66, 6, 218);
  font-size: xx-large;
  height: 4rem;
  padding: 0 24px;
  border-radius: 150%;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

