 .popup {
  display: flex;
  margin-left: 3vh;
  margin-top: 1vw;
  height: 400px !important;
  width: 1050px !important;
  background-color: #fffdd0 !important;
  border: 2px solid black;
  border-radius: 25px;
  align-items: center;
}

.otpbox {
  align-self: center;
  padding: 9px;
  border: 2px solid black;
  border-radius: 25px;
  width: 100px;
  height: 25px;
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: crimson;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
  font-size: medium;
}
.parts3 {
  transform: translateY(-700%);
  margin-left: 1%;
  color: white;
}
.parts3 :hover {
  background: rgb(240, 56, 56);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(3px);
}

.container {
  height: auto;
  min-height: 550px;
  width: 450px;
  background-color: #fffdd0;
  border: 2px solid black;
  position: relative;
  padding: 20px;
  border-radius: 15px;
}

.parts {
  font-family: Arial, sans-serif;
  margin: 10px;
  border-radius: 20px;
  height: 380px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parts2 {
  background-color: rgba(242, 240, 240, 0.7);
}

.writing {
  font-family: "IBM Plex Sans", sans-serif;
}

.User, #phone {
  width: 80%;
  padding: 10px 20px;
  border-radius: 45px;
  border: 1px solid black;
  background-color: #fffdd0;
  margin-bottom: 15px;
}

.loginend {
  position: relative;
  width: 100%;
}
.ok{
  height: 46px;
  padding: 0 24px;
  border-radius: 25px;
  border: none;
  background: #5b21b6;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  align-self:center;
  justify-content: center;
}
 
.ok:hover{
  background:red;
}

.signX {
  position: absolute;
  right: 18px;
  top: 12px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.signX:hover{
  background:red;
}
.parts3 {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
}


.blueline {
  color: rgb(88, 74, 243);
  text-decoration: underline;
  cursor: pointer;
}